@import "tailwindcss";

@theme {
    --color-primary: #3758f9;
    --color-secondary: #13c296;
}


.mapbox-dropdown {
    position: absolute;
}

.my-css .fi-fo-rich-editor-toolbar {
    position: sticky;
    top: 64px;
    background: white;
    z-index: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
