@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary: #3758f9;
    --color-secondary: #13c296;
    --color-dark: #111928;
    --color-dark-700: #090e34b3;
    --color-dark: #111928;
    --color-dark-2: #1f2a37;
    --color-dark-3: #374151;
    --color-dark-6: #9ca3af;
    --color-blue-dark: #1b44c8;
    --color-secondary: #13c296;
    --color-body-color: #637381;
    --color-body-secondary: #8899a8;
    --color-stroke: #dfe4ea;
    --color-gray-1: #f9fafb;
    --color-gray-2: #f3f4f6;
    --color-gray-7: #ced4da;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

.mapbox-dropdown {
    position: absolute;
}

.my-css .fi-fo-rich-editor-toolbar {
    position: sticky;
    top: 64px;
    background: white;
    z-index: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
